.card {
    background-image: url(./bg.jpg);
    background-size: cover;
    border: rgb(26, 20, 121) 3px solid;
    opacity: 90%;
  
}
.card-form{
    padding: 15%;
    
}

.card-main{
    margin-top: 4%;
    color: #03292c;
    
}
.card-button{
    margin-top: 5%;
}

